{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if scripts %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-7">
            <h3 class="text-center mt-4 mb-4 mt-lg-5 mb-lg-4">in development</h3>
            {% for script in scripts %}
            <h6 class="text-dark mt-4">{{ script.title }}</h6>
            <div class="input-group mb-1">
                <input id="s{{ forloop.counter }}" type="text" class="form-control"
                    value="curl -fsSL {{ request.scheme }}://{{ request.get_host }}/scripts/{{ script.name }} | bash{% if script.args %} -s {% endif %}{{ script.args }}">
                <button class="btn btn-primary" type="button" id="button-addon2"
                    data-clipboard-target="#s{{ forloop.counter }}">Copy</button>
            </div>
            <small class="text-info"><strong>{{ script.description }}</strong></small>
            <hr class="m-0">
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'clipboard.mini.js' %}"></script>

<script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });

    clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });
</script>
{% endblock scripts %}

{% endblock content %}